@import './utils/defaults';

.calendar-plugin-container{
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;

    *{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .calendar-plugin-header
    {
        position: relative;
        float: left;
        width: 100%;
        padding: 10px 80px;
        display: flex;
        align-items: center;
        background-color: $primary-color;

        .calendar-plugin-control-container
        {
            position: absolute;
            left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.right
            {
                left: initial;
                right: 15px;
            }

            button{
                width: 50px;
                height: 50px;
                display: inline-block;
                background: rgba(0,0,0,0);
                border-color: rgba(0,0,0,0);
                color: #fff;
                outline: none;
                cursor: pointer;
                font-size: 1.3em;
                // border radius
                border-radius: 25px;
                -o-border-radius: 25px;
                -ms-border-radius: 25px;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                // transitiion
                transition: background-color 300ms ease-in-out;
                -o-transition: background-color 300ms ease-in-out;
                -ms-transition: background-color 300ms ease-in-out;
                -moz-transition: background-color 300ms ease-in-out;
                -webkit-transition: background-color 300ms ease-in-out;

                &:hover
                {
                    background-color: rgba(255,255,255,0.2);
                }
            }
        }

        .calendar-plugin-month-name
        {
            position: relative;
            float: left;
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 2em;
        }

        // seasons customization
        &.calendar-plugin-header-spring
        {
            background-color: $spring;
        }

        &.calendar-plugin-header-summer
        {
            background-color: $summer;
            .calendar-plugin-control-container
            {

                button{
                    color: #333;
                }
            }

            .calendar-plugin-month-name
            {
                color: #333;
            }
        }

        &.calendar-plugin-header-fall
        {
            background-color: $fall;
        }

        &.calendar-plugin-header-winter
        {
            background-color: $winter;
        }
    }

    table.calendar-plugin-calendar
    {
        position: relative;
        float: left;
        width: 100%;
        border-spacing: 0px;

        tr.calendar-plugin-month-heading
        {
            th
            {
                text-align: right;
                padding: 20px 20px;
                width: (100% / 7);
            }
        }

        tr.calendar-plugin-week
        {
            td.calendar-plugin-date
            {
                padding: 0px 20px !important;
                text-align: right;
                width: (100% / 7);

            &.calendar-plugin-empty-day
            {
                background-image: url('../images/june_bg.jpg');
                background-repeat: no-repeat;
            }

            }
        }

        // season customization
        &.calendar-plugin-calendar-spring
        {
            >thead
            {
                background-color: darken($spring, 4%);
                color: #ffffff;
            }
        }
        &.calendar-plugin-calendar-summer
        {
            >thead
            {
                background-color: darken($summer, 4%);
                color: #333;
            }
            
        }
        &.calendar-plugin-calendar-fall
        {
            >thead
            {
                background-color: darken($fall, 4%);
                color: #ffffff;
            }
        }
        &.calendar-plugin-calendar-winter
        {
            >thead
            {
                background-color: darken($winter, 4%);
                color: #ffffff;
            }
        }
    }
}