.#{$eventform}-modal{
    position: fixed;
    font-family: 'Roboto', sans-serif;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    visibility: hidden;
    z-index: 1000;
    @include transition(visibility 600ms ease-in-out);

    *{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .#{$eventform}-backdrop{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        @include transition(all 200ms ease-in-out);
        @include transition-delay(200ms);
    }

    .#{$eventform}-content{
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        .#{$eventform}-dialog{
            position: relative;
            float: none;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 720px;

            .#{$eventform}-form{
                position: relative;
                float: left;
                width: 100%;
                margin-top: 100px;
                margin-bottom: 100px;
                padding: 30px 20px 0px;
                background-color: #fff;
                @include transform(scale(0.9));
                opacity: 0;
                @include transition(transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 400ms ease-in-out);

                >fieldset{
                    position: relative;
                    float: left;
                    width: 100%;
                    border: none;
                    background: none;
                    padding: 0px 0px;
                }

                input[type="text"], 
                input[type="date"], 
                input[type="time"], 
                select{
                    position: relative;
                    float: left;
                    width: 100%;
                    padding: 0.5rem 0.5rem;
                    background-color: #fff;
                    color: #666;
                    outline: none;
                    border: solid 1px #ccc;
                    font-size: 1rem;
                    font-weight: 400;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    -o-box-sizing: border-box;
                    @include transition( border-color 200ms ease-in-out );
                    @include border-radius(0.2rem);

                    &:focus{
                        border-color: $primary-color;

                    }

                    &:disabled{
                        opacity: 0.8;
                        background-color: #eeeeee;
                    }

                    &::placeholder{ color: #bbb; }
                    &::-webkit-input-placeholder{ color: #bbb; }
                    &:-ms-input-placeholder{ color: #bbb; }
                    &:-moz-placeholder{ color: #bbb; }
                }

                .#{$eventform}-group
                {
                    position: relative;
                    float: left;
                    width: 100%;
                    margin-bottom: 15px;
                    display: flex;

                    .#{$eventform}-group-item{
                        flex: 1;
                        position: relative;
                        float: left;
                        width: 100%;
                        padding: 0px 10px;

                        &:last-child{
                            padding-right: 0;
                        }

                        &:first-child{
                            padding-left: 0;
                        }

                        label:first-child{
                            font-size: 0.7em;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: #666;
                            margin-bottom: 5px;
                            display: inline-block;
                            &.#{$eventform}-radio-option{
                                text-transform: initial;
                                font-size: initial;
                                font-weight: initial;
                            }
                        }

                        .#{$eventform}-control-group{
                            position: relative;
                            float: left;
                            width: 100%;
                            margin-bottom: 8px;

                            >label{
                                &:first-child{
                                    width: 100%;
                                    margin-bottom: 5px;
                                }
                            }
                            .#{$eventform}-form-control{
                                &.radio-group{
                                    display: inline-block;
                                    margin-right:16px;
                                }
                            }
                        }
                    }
                }

                .#{$eventform}-actions{
                    position: relative;
                    float: left;
                    width: 100%;
                    text-align: right;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    button{
                        display: inline-block;
                        padding: 0.8rem 1.8rem;
                        margin: 0px 5px;
                        border: solid 1px #cccccc;
                        color: #666666;
                        background-color: #fff;
                        font-weight: 600;
                        font-size: 0.8rem;
                        outline: none;
                        @include transition(background-color 200ms ease-in-out);
                        @include border-radius(0.2rem);

                        &:hover{
                            cursor: pointer;
                            background-color: darken(#fff, 5%);

                            &.save
                            {
                                background-color: darken($primary-color, 5%);
                            }

                            &.danger
                            {
                                background-color: darken($danger-color, 5%);
                            }
                        }

                        &:disabled{
                            opacity: 0.8;
                            background-color: darken(#fff, 5%);

                            &.save
                            {
                                background-color: lighten($primary-color, 7%);
                            }

                            &.danger
                            {
                                background-color: lighten($danger-color, 7%);
                            }
                        }

                        &:last-child{
                            margin-right: 0;
                        }

                        &:first-child{
                            margin-left: 0;
                        }

                        &.cancel{

                        }

                        &.save{
                            background-color: $primary-color;
                            color: #fff;
                            border-color: darken($primary-color, 10%);

                            &:hover{
                                background-color: lighten($primary-color, 10%)
                            }
                        }

                        &.delete{
                            float: left;
                            background-color: rgba(0,0,0,0);
                            color: $danger-color;
                            border-color: $danger-color;

                            &:hover{
                                background-color: $danger-color;
                                color: #fff;
                                border-color: darken($danger-color, 5%);
                            }
                        }
                    }
                }

                .#{$eventform}-error{
                    position: relative;
                    float: left;
                    width: 100%;
                    margin: 0px 0px;
                    color: #ff0000;
                    font-size: 0.9rem;
                    padding: 0px 0px 20px;
                    display: none;

                    &.show{
                        display: block;
                    }
                }
            }
        }
    }

    &.show{
        visibility: visible;

        .#{$eventform}-backdrop{
            opacity: 1;
            @include transition-delay(0ms);
        }

        .#{$eventform}-content{
            overflow: auto;
            .#{$eventform}-dialog{
                .#{$eventform}-form{
                    opacity: 1;
                    @include transform(scale(1));
                }
            }
        }
    }
}